@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}
.nav{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("./Insurance/hero-cover.3.png");
    background-size: cover;
    background-position: center;
   /* position: relative;*/
    color: white;
}

.nav ul li a{
    color: white;
    text-decoration: none;
}
.top{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-item li{
    display: inline;
    margin-right: 80px;
    justify-content: space-around;
}
.buttons{
    display: flex;
    position: relative;
    top: -10px;
    margin-right: 150px;
}
.login{
    padding: 10px;
}
.member{
    padding: 12px;
    background-color:  #23A6F0;
}
.right{
    text-align:center;
    font-size: 150%;
    padding-top: 8%;
}
.get{
    border-radius: 20px;
    background-color: #23A6F0;
    text-align: center;
    padding: 20px;
    margin: 0px 10px;
  
}
.learn{
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    border: 1px solid white;
}
.more{
    text-align:center;
    font-size: 150%;
    padding-top: 8%;
    display: flex;
    padding-right: 20px;
    justify-content: center;
}
.book{
    height: 80px;
}
.footer{
    height: 25px;
}
/*.card{
    display: flex;
    justify-content: space-between;
    margin-top: 50%;
    display: grid;
    grid-column-gap: 50px;
}
.peace{
    color: black;
    background-color: thistle;
    display: grid;
    grid-column-gap: 50px;
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 50%;
    left: 10%;
}
.set{
    color: black;
    background-color: thistle;
    display: grid;
    grid-column-gap: 5px;
    height: 100px;
    width: 400px;
    position: absolute;
    bottom: 50%;
    left: 10%
}*/

.cards {
    display: flex;
    justify-content: space-evenly;
}

.card{
   background-color: white;
   width: 250px;
   display: inline;
   text-align: center;
   flex-direction: row;
   margin-top: -35px;
   z-index: 2;
}
.satisfactio{
    background-color: #23A6F0;
    width: 250px;
    display: inline;
    text-align: center;
    flex-direction: row;
    margin-top: -35px;
    z-index: 2;


}
.mind{
    width: 250px;
    display: inline;
    text-align: center;
    flex-direction: row;
    margin-top: 100px;
   }
.peace{
    display: flex;
    justify-content: space-evenly;
    
}
.contacts-icon{
    height: 100px;
}
.industry{
    background-color: azure;
    margin-top: 10%;
}
.problems{
    text-align: center;
    padding: 5%;
}
.three{
    display: flex;
    justify-content: space-evenly;
}
.first{
    width: 25%;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    height: 345px;
}
.first img{
    height: 200px;
}
.second{
    width: 25%;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    height: 345px;
}
.second img{
    height: 200px;
}
.third{
    width: 25%;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    height: 345px;
}
.third img{
    height: 200px;
}
.images{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15%;
    flex-wrap: wrap;

}
.images img{
    height: 50px;
}
.subscribe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(80deg, blue, purple);
    color: white;
    width: 90%;
    height:80px
    margin-left: 50px;
    margin-top: 50px;
}
.email-input, .sub-btn {
    height: 35px;
    border-radius: 5px;
}
.sub-btn {
    background-color: #23A6F0;
    color: white;
    padding: 0px 10px;
}
.pricing{
    text-align: center;
    padding: 5%;
}
.columns{
    display: flex;
    justify-content: center;
}
.column1{
    border: 1px solid grey;
    border-radius: 5px;
    width: 30%;
    height: 500px;
    text-align: center;
}
.column2{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #252B42 ;
    color: white;
    width: 30%;
    height: 537px;
    text-align: center;
    margin-top: -40px;
}
.column3{
    border: 1px solid grey;
    border-radius: 5px;
    width: 30%;
    height: 500px;
    text-align: center;
}
.column1 h2, .column1 h3,
.column2 h2, .column2 h3,
.column3 h2, .column3 h3 {
    margin: 10px 0px;
}
.column1 p,
.column2 p,
.column3 p {
    color: #23A6F0;
}
.standard{
    list-style: none;
    text-align: justify;
    margin-left: 85px;
}
.standard li {
    margin: 10px 0px;
}
.circle1{
    height: 30px;
}
.circle {
    height: 15px;
}
.try {
    background-color: #23A6F0;
    color: white;
    padding: 5px 40px;
    border-radius: 5px;
}
.blue{
    background-color:  #252B42;
    padding-bottom: 100px;
}
.branches{
    text-align: left;
    margin: 10%;
    display: flex;
    color: white;
}
.float{
    height: 200px;
}
.contact-cover{
    height: 500px;

}
.booking{
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: center;
   margin-top: -174px;
}
.form{
    padding-left: 10px;
    background-color: white;
    
}
.form label, .form input, .form select {
    margin-bottom: 20px;
}
.consult{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0px;
}
.contact button{
background-color: #23A6F0;
padding: 20px;
color: white;
border: 1px solid #23A6F0;
border-radius: 5px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
}
.list ul{
    list-style: none;
}
.made{
    margin-left: 250px;
}
.facebook{
    height: 30px;
    float: right;
}
.checked{
    color: orange;
}
.not-checked{
  color: grey;
  border-radius:1px solid yellow ;
}
/*responsive layouts*/

@media (max-width: 1171px) {
    .three{
        width: 98%;
    }
}
@media (max-width:1138px){
    .columns{
        flex-direction: column;
    }
    .column1{
        width: 373px;
        align-items: center;
    }
    .column2{
        margin-top: 9px;
        width: 373px;
        align-items: center;
    }
    .column3{
        width: 373px;
        align-items: center;
    }
}
@media (max-width:940px) {
    .right {
        position: absolute;
        margin-top: 200px;
        margin-left: 220px;
    }
}
@media(max-width:1120px) {
    .facebook{
        width: 8%;
    }
}
 @media (max-width:938px){
     .nav{
         display: flex;
     }
}
@media (max-width:914px){
   .member{
     padding: 5px;
     } 
}
@media (max-width:908px){
 .standard li {
    margin: 10px -12px;
  }
}
@media(max-width:900px){
.buttons{
    flex-direction: column;
 }
}
@media(max-width:822px){
    .first img{
     height: 190px;
    }
    .second img{
        height: 190px;
    }
    .third img{
        height: 190px;
    }
}
@media(max-width:425px){
    .nav{
        background-position: center;
    }
    h1{
        font-size: 15px;
    }
    .nav ul li a{
        flex-direction: column;
    }
    .right{
        text-align: left;
        margin-left: 50px;
    }
    .right p p{
        margin-left: 50px;
    }
    .more{
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .peace{
        flex-direction: column;
        align-items: center;
    }
    .three{
        flex-direction: column;
        width: 775px;
        margin: 30%;
    }
    .subscribe{
        margin-left: 20px;
        width: 94%;
    }
    .float{
        height: 90px;
    }
    .branches p{
        margin-left: 20px;
        width: 94%;
    }
    .list{
        flex-direction: column;
    }
    .made{
    margin-left: 20px;
    }